.Login_image{
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.Login_container{
  width:300px;
  height: fit-contain;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  border:1px solid lightgray;
  padding:20px;
  background-color: white;
}
.Login_container>h1{
  font-weight: 500;
  margin-bottom: 20px;
}
.Login_container>form>input{
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width:98%;
  text-align: center;
}
.Login_container>p{
  margin-top: 15px;
  font-size: 12px;
}
.Login_SingInbutton{
  padding:5px;
  border: 1px solid;
  border-radius: 2px;
  width:98%;
}
.Login_RegisterButton{
  padding:5px;
}
